<div class="collapse navbar-collapse hover-dropdown font-14 ml-auto" id="h6-info">
    <ul class="navbar-nav ml-auto  align-items-center">

<!-- [routerLinkActive]="['active']" -->
        <li class="nav-item" >
            <!-- routerLink="/" -->
            <a class="nav-link" >
                Home
            </a>
        </li>
         <!-- [routerLinkActive]="['active']" -->
        <li class="nav-item">
            <!-- [routerLink]="'/about'" -->
            <a class="nav-link" >
                About
            </a>
        </li>
        <li class="nav-item">
            <a class="btn btn-danger-gradiant font-14" target="_blank" href="https://www.wrappixel.com/free-wrapkit-angular-blog">
                Download Free
            </a>
        </li>
    </ul>

</div>