<nav class="navbar">
  <!-- LOGO -->
  <div class="logo">SATU</div>


  <ul class="nav-links">
    <!-- USING CHECKBOX HACK -->
    <input type="checkbox" id="checkbox_toggle" />
    <label for="checkbox_toggle" class="hamburger">&#9776;</label>

    <!-- NAVIGATION MENUS -->
    <div class="menu">
      <li class="Home"    ><a href="/">Home</a></li>
      <li class="services"><a href="/">Services</a>
        <!-- DROPDOWN MENU -->
        <ul class="dropdown">
          <li><a href="/">Dropdown 1 </a></li>
          <li><a href="/">Dropdown 2</a></li>
          <li><a href="/">Dropdown 2</a></li>
          <li><a href="/">Dropdown 3</a></li>
          <li><a href="/">Dropdown 4</a></li>
        </ul>
      </li>
      <li class="About"  ><a href="/">About</a></li>
   
        <li class="Register"    ><a href="/">Register</a></li>
        <li class="Log-in"      ><a href="/">Log in</a></li>
    </div>

  </ul>
</nav>
